@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>DELETE Confirmation Page</h2>

<h4>Are you sure about deleting Engineer: <span class="olive">@Html.Label(@Model.EngineerName)</span></h4>
<br><br>
<div class="divClass">
  @using (Html.BeginForm())
  {
    <input type="submit" class="btn btn-default" value="Delete?" />
  }
  <br><br><br>
  @Html.ActionLink("Back to List of Engineers", "Index")
